<?xml version="1.0"?>
 
<config>
    <modules>
        <Webfrnd_Dailydeals>
            <version>0.1.1</version>
        </Webfrnd_Dailydeals>
    </modules>
	
	
	<global>
		<blocks>
            <dailydeals>
                <class>Webfrnd_Dailydeals_Block</class>
            </dailydeals>
        </blocks>
	
		<helpers>
    	    <dailydeals>
        	    <class>Webfrnd_Dailydeals_Helper</class>
	        </dailydeals>
	    </helpers> 
	</global>
	
	
	<frontend>
        <routers>
            <dailydeals>
                <use>standard</use>
                <args>
                    <module>Webfrnd_Dailydeals</module>
                    <frontName>webfrnd-dailydeals</frontName>
                </args>
            </dailydeals>
        </routers>
		
		<layout>
			<updates>
				<dailydeals>
					<file>webfrnd_dailydeals.xml</file>
				</dailydeals>
			</updates>
		</layout>
    </frontend>    
	
	
	<default>
		<webfrnd_dailydeal_options>
			<general>                
				<module_enable>1</module_enable>
				<display_on_homepage_before>0</display_on_homepage_before>
				<display_on_homepage_after>0</display_on_homepage_after>
			</general>      
		</webfrnd_dailydeal_options>
	</default>
	
	
	<adminhtml>
	   <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <webfrnd_dailydeal_options>
                                            <title>Store Webfrnd Dailydeal Module Section</title>
                                        </webfrnd_dailydeal_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	
	
	
	
</config>