<?xml version="1.0"?>
<config>
    <modules>
        <Frontslash_CustomProduct>
            <version>1.0.0</version>            
        </Frontslash_CustomProduct>
    </modules>
    <frontend>
        <routers>
            <customproduct>
                <use>standard</use>
                <args>
                    <module>Frontslash_CustomProduct</module>
                    <frontName>customproduct</frontName>
                </args>
            </customproduct>
        </routers>        
    </frontend>
	<global>
	    <models>
		<customproduct>
		    <class>Frontslash_CustomProduct_Model</class>
		</customproduct>   
	    </models>
	    <helpers>
		<customproduct>
			<class>Frontslash_CustomProduct_Helper</class>
		</customproduct>
	    </helpers>    
	    
	    <blocks>
		<customproduct>
			<class>Frontslash_CustomProduct_Block</class>
		</customproduct>
	    </blocks>
	</global>
	<default>
	    <customproduct>
		<custom>
		    <enable>1</enable>
		    <multi_option>1_new,2_random,3_rated</multi_option>
		    <order_options>1,2,3</order_options>
		    <product_load_max>20</product_load_max>
		</custom>
		<block_full>
		    <enable>1</enable>
		    <multi_option>1_new</multi_option>
		    <product_load_max>8</product_load_max>
		    <product_per_row>3</product_per_row>
		    <customblock_full></customblock_full>
		</block_full>
		<block_left>
		    <enable>1</enable>
		    <multi_option>1_new</multi_option>
		    <product_load_max>20</product_load_max>
		    <customblock_left></customblock_left>
		</block_left>
		<block_right>
		    <enable>1</enable>
		    <multi_option>1_random</multi_option>
		    <product_load_max>20</product_load_max>
		    <customblock_right></customblock_right>
		</block_right>
		<block_mini>
		    <enable>1</enable>    
		    <multi_option>1_new</multi_option>
		    <customblock_mini></customblock_mini>
		    <product_load_max>20</product_load_max>
		    <product_per_row>2</product_per_row>
		    <mini_with_block>3</mini_with_block>
		    <minileftblock></minileftblock>
		    <minirightblock>Mini Product Right Block</minirightblock>
		</block_mini>
		<category_product_tab>
		    <enable>1</enable>
		    <category_id></category_id>
		    <default_selected></default_selected>
		    <product_load_max>20</product_load_max>
		</category_product_tab>
	    </customproduct>
	</default>
</config>
